body {
    background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/210316134738-02-wisdom-project-summer.jpg?q=x_4,y_0,h_2003,w_3560,c_crop/h_653,w_1160/f_webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 60px;
    background-color: rgba(251, 248, 249, 0.9);
    padding: 20px;
    border: 3px solid black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: space-around;
    flex: wrap;
}

.christmas {
    background-color: rgba(251, 248, 249, 0.82);
    height: 300px;
    width: 200px;
    border: 3px solid black;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.DAYS, .HOURS, .MINUTES, .SECONDS {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.red {
    font-size: 60px;
    border: none;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: red;
}

button {
    margin-left: 100px;
    border: none;
    margin-bottom: 50px;
}


@media all and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }
}